body {
  font-family: "Bowlby One", cursive;
  overflow-x: hidden;
}
.banner-main {
  position: relative;
  width: 100%;
  height: 450px;
  background-color: #bc002d;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0px auto;
  display: block;
}
header section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 3;
}
header section .left nav ul li a {
  text-transform: uppercase;
  font-size: 40px;
}
header section aside nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
header section aside nav ul li {
  margin-top: 10px;
}
header section aside nav ul li a {
  font-size: 50px;
}
header section .left nav ul li a {
  color: white;
  text-decoration: none;
}
header section .right nav ul li .fa-twitter {
  color: white;
}
header section .right nav ul li .fa-discord {
  color: white;
}
header section .right nav ul li input:hover {
  color: #f6851b;
  transition: 0.4s;
}
header section .right nav ul li .fa-twitter:hover {
  color: #1ca6d6;
  transition: 0.3s;
}
header section .right nav ul li .fa-discord:hover {
  color: #5562ea;
  transition: 0.3s;
}
.twitter-footer:hover {
  color: #1ca6d6 !important;
}
.discord-footer:hover {
  color: #5562ea !important;
}
.team .fa-discord{
  color: #5562ea;
}
.team .fa-twitter{
  color: #1ca6d6;
}
header section .left nav ul li a:hover {
  color: white;
}
header section .right nav ul li .fa-discord {
  margin-right: 10px;
}
.collection {
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
}
.collection a {
  color: white;
  font-size: 25px;
  background-color: #bc002d;
  padding-top: 8px;
  padding-bottom: 8px;
  border-end-end-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
.collection h1 {
  font-size: 35px;
  margin-bottom: 30px;
}
.collection a:hover {
  color: #bc002d;
  background-color: white;
  transition: 0.8s;
}
.collection {
  background-color: white;
  height: 200px;
}
.mint {
  color: #bc002d;
  font-size: 28px;
  background-color: white;
  z-index: 5;
  padding-top: 8px;
  padding-bottom: 8px;
  border-end-end-radius: 15px !important;
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.8s;
  margin: 0px 0px 0px;
}
.mintNow {
  color: #bc002d;
  font-size: 20px;
  background-color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  flex-wrap: wrap;
  border-end-end-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
  top: -13px;
}
.mintNow:hover {
  color: white;
  background-color: #bc002d;
  text-shadow: 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa,
    0 0 92px #0fa;
  transition: 0.8s;
}
.mint:hover {
  color: white;
  background-color: #bc002d;
  font-size: 32px;
  padding-bottom: 0px;
  text-shadow: 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa,
    0 0 92px #0fa;
}
.ronin .soon {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 80px;
}
.ronin {
  color: white;
  text-align: center;
  padding-top: 60px;
  font-size: 25px;
}
.roadmap {
  background-color: #bc002b;
  height: 100%;
  text-align: center;
  margin-top: 0;
}
.roadmap h1 {
  color: white;
  padding-top: 80px;
  font-size: 45px;
}
.why {
  color: black !important;
}
.roadmap div h1 {
  color: black;
  font-size: 30px;
  margin-bottom: 30px;
}
.roadmap div h2 {
  color: white;
  margin-bottom: 22px;
  font-size: 20px;
}
.whyRonin h2 {
  padding-top: 20px;
  color: white !important;
  padding-bottom: 100px;
}
.faq {
  margin-left: 5%;
  text-align: left;
  margin-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.faq h2 {
  font-size: 25px;
  margin-bottom: 20px;
}
.faq h3 {
  color: white;
  font-size: 20px;
  margin-bottom: 40px;
}

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.layer1 {
  background-image: url("./img/wave-haikei\ \(2\).svg");
}
.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.layer2 {
  background-image: url("./img/wave-haikei\ \(3\).svg");
}

.mint {
  background-color: #bc002d;
  font-size: 20px;
  background-color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  flex-wrap: wrap;
  border-end-end-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
}
.deff {
  padding-top: 40px;
  font-size: 24px;
  color: #bc002d;
  text-align: center;
}
.deff span {
  color: black;
}
.ronin span {
  color: rgb(27, 25, 25);
}
.soon {
  padding-bottom: 0px;
}
.date {
  padding: 0px;
  padding-bottom: 10px;
  margin-top: 10px;
}
.team .d {
  font-size: 2.2rem;
  padding-top: 10px !important;
  color: white;
}
.team .d1 {
  font-size: 2.2rem;
  padding-top: 10px !important;
  color: white;
}
.team .s {
  font-size: 2.2rem;
  padding-top: 10px !important;
  color: white;
}
.team .fa-twitter {
  font-size: 50px;
}
.team .fa-twitter:hover {
  color: #1ca6d6;
  transition: 0.3s;
}
.team .fa-discord {
  font-size: 50px;
}
.team .fa-discord:hover {
  color: #5562ea;
  transition: 0.3s;
}
.countdown {
  font-size: 30px;
  margin-bottom: 20px;
}
.theTeam {
  margin: 0px;
  padding: 0px;
}
.team {
  padding-left: 50px !important;
  margin: 0px;
  padding: 0px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-around;
  background-image: url(./img/chain.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.faq div h2 {
  color: black;
  font-size: 25px;
}
.faq h3 {
  letter-spacing: 0.8px;
  width: 80%;
}
header section .center nav ul li a {
  color: white;
  text-transform: uppercase;
}
header section .left nav ul li a {
  display: flex;
}
.cr {
  color: white;
  width: 25px;
  height: 25px;
}
.stars {
  margin-top: 1550px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.stars span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);
  animation: animate 3s linear infinite;
}
.stars span::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}
@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1500px);
    opacity: 0;
  }
}
.stars span:nth-child(1) {
  top: 0;
  right: 0;
  left: initial;
  animation-delay: 0;
  animation-duration: 1s;
}

.stars span:nth-child(2) {
  top: 0;
  right: 80px;
  left: initial;
  animation-delay: 0.2s;
  animation-duration: 3s;
}

.stars span:nth-child(3) {
  top: 80px;
  right: 0px;
  left: initial;
  animation-delay: 0.4s;
  animation-duration: 2s;
}

.stars span:nth-child(4) {
  top: 0;
  right: 180px;
  left: initial;
  animation-delay: 0.6s;
  animation-duration: 1.5s;
}

.stars span:nth-child(5) {
  top: 0;
  right: 400px;
  left: initial;
  animation-delay: 0.8s;
  animation-duration: 2.5s;
}

.stars span:nth-child(6) {
  top: 0;
  right: 600px;
  left: initial;
  animation-delay: 1s;
  animation-duration: 3s;
}
.stars span:nth-child(7) {
  top: 300px;
  right: 0px;
  left: initial;
  animation-delay: 1s;
  animation-duration: 1.75s;
}

.stars span:nth-child(8) {
  top: 0px;
  right: 700px;
  left: initial;
  animation-delay: 1.4s;
  animation-duration: 1.25s;
}

.stars span:nth-child(9) {
  top: 0px;
  right: 1000px;
  left: initial;
  animation-delay: 0.75s;
  animation-duration: 2.25s;
}

.stars span:nth-child(10) {
  top: 0px;
  right: 1000px;
  left: initial;
  animation-delay: 2.75s;
  animation-duration: 2.25s;
}

footer {
  background-color: white;
  width: 90%;
  margin: auto;
}
.content {
  display: flex;
  justify-content: space-between;
  font-size: 26px;
  margin-bottom: 20px;
}
.content h1 {
  margin-bottom: 35px;
  color: black;
}
.back-to-top img {
  width: 38px;
  height: 38px;
  margin-right: 15px;
  margin-top: 18px;
  color: black;
}
.back-to-top {
  display: flex;
}
.back-to-top h1 {
  font-size: 22px !important;
  margin-top: 23px;
}
.back-to-top:hover {
  color: black !important;
}
.width div {
  display: flex;
  justify-content: space-between;
}
.last-left {
  padding-left: 0px;
}
.last-right {
  padding-right: 0px;
}

HTML CSSResult Skip Results Iframe EDIT ON .css-typing p {
  border-right: 0.15em solid orange;
  font-family: "Courier";
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
}
.css-typing p:nth-child(1) {
  width: 7.3em;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  width: 11.5em;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
  width: 7.3em;
  opacity: 0;
  -webkit-animation: type3 5s steps(20, end),
    blink 0.5s step-end infinite alternate;
  animation: type3 5s steps(20, end), blink 0.5s step-end infinite alternate;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.images {
  margin-top: 80px;
  top: 0;
  border: solid black 3px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 230px;
  height: 230px;
}
.faqimages button{
  margin-top: 40px;
  margin-bottom: 40px;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:270px;
  height: 270px;
}
.faqimages button img{
  border: solid black 2px;
}
.faqimages .starting{
  margin-top: 0px !important;
}
.grid {
  display: flex;
  padding-top: 50px;
  justify-content: space-around;
  margin-top: 0px;
  padding-left: 30px;
  padding-right: 30px;
}
.grid image {
  width: 200px;
  height: 200px;
}
.grid button img{
  border: 1px solid black;
  padding: 0px;
}
/* .other:hover {
  transform: scale(1) !important;
  opacity: 1;
} */
.claim{
  text-transform: uppercase;
  margin-top: 50px;
  font-size: 34px;
}

.center{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 22px;
  display: flex;
  justify-content: center;
}
.price{
  margin-right: 10px;
}
.toggle-button{
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 31px;
  margin-top: 16px;
}